extends layout

block layout-content
  div.View
    h1.Banner Web Crawler | Dashboard
    div.Message
      div.Title
        h3 Lorem Ipsum
        h1 Dolor
      span.Details Access the Web Crawler Dashboard
    div.NavButtons
      a(href="/user")
          div.NavButton Refresh